main{
    background: linear-gradient(170deg, rgba(238, 243, 181, 0.605), rgba(197, 153, 255, 0.403)); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-attachment: fixed;
}



.Section-about{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 10px;
    font-size: 0.5rem;
    
}

.Section-info{
    font-size: .5rem;
}



.Container {
 
    width: 90%;
    min-height: 500px;
    padding-top: 100px;

}


.Container-title{


    text-align: center;

    font-family: var(--font-serif);
    font-weight: 400;

    font-size: 3rem;
    

}


/* Acordeón */

.Section-about--acordion{
    max-width: 90%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    gap: 10px;
}
.Bloque {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
   
    padding: 15px;
    border-radius: 10px;

}

.Bloque-title {

    text-align: center;
    font-size: 1.6rem;
    background-color: none;
    border-bottom: 1px solid; 

    font-family: var(--font-serif);
   

    padding: 0.5em;
    width: 250px;

    cursor: pointer;
    /* border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-color: rgba(240, 248, 255, 0.345); */


}

.Bloque-destacado {
    width: 100%;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    text-align: justify;
 

    

}

.Bloque-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    text-align: justify;

   max-height: 0;
   overflow: hidden;
   opacity:0 ;
   transform: translateY(-20px);

   transition: 
   max-height 0.8s ease,
   opacity 0.8s ease,
   transform 0.8s ease;

   /* extra para visualizacion en safari */
   will-change: max-height, opacity, transform;

  

}


.Bloque-content.active {
   
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);

}

ul {

    display: flex;
    flex-direction: column;

    justify-content: start;
    max-width: 700px;


}

.Bloque-content li {
    font-family: var(--font-sans);
    padding-top: 0.5rem ;
}

.Message{
  
display: flex;
flex-direction: column;
justify-content: center;align-items: center;
max-height: 50px;

}


@media (min-width: 1140px) {

    .Container{min-height: 700px;}

    .Section-about{
      
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        
        gap: 8px;
        max-width: 50%;
      
    }

    .Section-about--acordion{



        display: flex;
        flex-direction: row;
    
        align-items: center;
        justify-content: center;
     
        
        gap: 50px;
     
    }
    .Container{
   
    
        min-width:500px;
    
    }

  


}





