.Acordeon{
  
    margin: 1rem;
    padding: 10px;


}

.Bloque{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
 
    
}

.Bloque-title{
    text-align: center;
    background-color:none;
    border-bottom: 1px solid;
    font-family: var(--font-serif);
    border-radius:0px;
    padding: 1em;
    width: 200px;
    transition: all .5s ease;

    cursor: pointer;
   
}

.Bloque-content{

    border-radius: 5px;
    height: 0px;
 
    padding: 0px 1rem;
    width: fit-content;
 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 0;
   

    transition: max-height 0.5s ease, padding 0.5s ease;
  box-sizing: border-box;

    
}

.Bloque-content.active{
   
    max-height: 800px; /* ajusta según lo que necesites */
    padding: 2rem; /* activa el padding de forma suave */
}