.Bg {

    background-image: url(../sources/images);
}


.Acordeon {

    width: 90%;

    margin-bottom: 7rem;
    padding: 10px;


}

.Bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;


}

.Bloque-title {

    text-align: center;
    background-color: none;
    border-bottom: 1px solid;
    font-family: var(--font-serif);
    border-radius: 0px;
    padding: 1em;
    width: 200px;


    cursor: pointer;

}

.Bloque-destacado {
    padding-bottom: 0px;
}

.Bloque-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   max-height: 0;
   overflow: hidden;
   opacity:0 ;
   transform: translateY(-20px);

   transition: 
   max-height 0.8s ease,
   opacity 0.8s ease,
   transform 0.8s ease;

   /* extra para visualizacion en safari */
   will-change: max-height, opacity, transform;

}


.Bloque-content.active {
   
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);

}

ul {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;


}

.Bloque-content li {
    font-family: var(--font-sans);
    padding: 10px;
}