.Section--container {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-bottom: 100px;
    gap:50px

}


.Form {


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 90%;
  
}

.Name,
.Email,
.Text-area,
.Asunto {

    border: none;
    border-bottom: solid 1px;
    font-family: var(--font-sans);
    font-size: 1rem;
    height: 2rem;
    width: 100%;

}

.Text-area {
    height: auto;
    max-height: 10rem;
    max-width: 900px;


}



.Imagen-perfil {
    opacity: 60%;
    display: flex;


    justify-content: center;
}

.Imagen-perfil-size {
    width: 75%;


}



@media (min-width: 768px) {

    .Form {
        width: auto;
      
    }

    .Section--container {
        padding-top: 3rem;
        display: flex;
        flex-direction: row;
    }

    .Section--container-redes {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
    }



    .Section-subtitle {

        justify-content: center;

    }

    .Imagen-perfil {

        opacity: 60%;
        max-width: 500px;

    }

    .Imagen-perfil-size {
        width: 100%;

    }
}