.Section--container {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;

}

.Section-subtitle {

    justify-content: start;
}

.Form {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    padding: 0rem;
    gap: 5px;


}

.Name,
.Email,
.Text-area,
.Asunto {

    border: none;
    border-bottom: solid 1px;
    font-family: var(--font-sans);
    font-size: 1rem;
    height: 2rem;
    width: 100%;

}

.Text-area {

    height: 10rem;

}



.Imagen-perfil {
    opacity: 60%;
    display: flex;


    justify-content: center;
}

.Imagen-perfil-size {
    width: 75%;


}

@media (min-width: 768px) {




    .Section--container {
        padding: 10rem;

        display: flex;
        flex-direction:row;
        align-items: center;
        gap: 10px;


    }

    .Imagen-perfil {

        opacity: 60%;
        max-width: 500px;

    }

    .Imagen-perfil-size {
        width: 90%;

    }
}