


.carousel{
    background-color: beige;
    width:100% ;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

}

.carousel-img{
    background-color: aqua;
    max-width: 100%;

  

}




@media (min-width: 1140px) {

    .Go-back{


        min-width: 70%;
        display: flex;
        flex-direction: row;
       justify-content: end;
     
    
     
    }

    .carousel{
        width:70% ;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    
    }
    


    }

     


