
/* .Section:nth-child(1) {
/* 
    background-image:url(../sources/images/backa-blue-pink.jpg);
    background-attachment: fixed;
    background-size:cover; 


} */


.Section:nth-child(2) {

    background: rgba(240, 248, 255, 0.497);
    background-attachment: fixed;
    background-size:cover;

}

.Section:nth-child(3) {

    background: rgba(240, 248, 255, 0);
    background-attachment: fixed;
    background-size:cover;

}
.Section-info{
    max-width: 100%;
    font-family: var(--font-sans);
}
.Section-title{
    font-size: 78px;
}

.Section-subtitle{
    font-size: 24px;
}

.u-blur{
    justify-content: center;
    width: 100%;
    height: 100%;


    background-color: rgba(250, 250, 250, 0.493);

    
    backdrop-filter: blur(15px);

    position: fixed;

    box-shadow: var(--box-shadow);
}

.Section-tags {


    display: flex;
    flex-direction: column;

    gap: 16px;

    margin: 16px;

}

.Tag-item {

    font-family: var(--font-sans);
    font-style: italic;
    font-size: 1rem;

   margin-top: 10px;


}

#projectImages {
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    
  }
  
  #projectImages img {
    width: 100%;
    display: none;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
    
 
  }
  
  #projectImages img.active {
    display: block;
    position: relative;
  }
  


@media (min-width: 1140px) {

    .Section-topper {
   
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Section--projects {
        justify-content: center;
    }

    .Section-tags {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin: 16px;
    }

    .Tag-item {
        font-family: var(--font-sans);
        font-size: 1.2rem;
        padding: 0.5em;
    }

    .Section-info{
        max-width: 100%;
        padding: 5rem;
    }

}