/*Fuentes*/

@font-face {
    font-family: 'GrandSlang';
    src: url('../fonts/GrandSlang-Roman.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'GrandSlangIta';
    src: url('../fonts/GrandSlang-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;

    /* Fonts made by <a href="http://www.webfontfree.com" target="_blank">Web Free Fonts</a> is licensed by <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC 4.0 BY</a> */
}

@font-face {
    font-family: 'Ogg';
    src: url('../fonts/Ogg-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* animaciones */

@keyframes slideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
/*Variables CSS*/
:root {

    --light-lemon: #f8ffdd;

    --sweet-pink: #ffdaf9;
    --basic-black: #1e1e1e;

    --font-sans: 'Montserrat', sans-serif ;
    --font-serif: 'GrandSlang', sans-serif;
    --font-serif-ita: 'GrandSlangIta', 'GrandSlang', sans-serif;

    --box-shadow: 3px 3px 1px #6464641c;

}


/* MOBILE FIRST */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: none;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    cursor: default;
}



p{
    font-family: var(--font-sans);
    font-size: 1rem;
    width: 90%;
    padding:20px;
}





 p .Highlight{
    font-family: var(--font-serif);
    font-style: italic;
    font-size: 20px;
    padding-left: 10px;
}


.Btn{

    display: inline-block;
    color: none;
    border: 1px solid var(--basic-black);
    border-radius: 50px;
    padding: 16px 32px;
   
    font-family: var(--font-sans);
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #ffdaf900;
    cursor:pointer;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;

    
}

.Btn:hover{
  /* background-color: rgba(0, 0, 0, 0);
   */
  box-shadow: inset 400px 0 0 0 var(--light-lemon);
  color: #000000;
}

.Header {

    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    padding: 2rem;
    position: fixed;

    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 10%;

    

}

.Header.scrolled{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); /* desenfoque */
    -webkit-backdrop-filter: blur(10px); /* soporte para Safari */
    box-shadow: var(--box-shadow);
    
}

.Header-logo {

    display: flex;
    flex-direction: row;
    font-family: var(--font-serif);
    letter-spacing: -1px;
    font-size: 2rem;
    color: var(--basic-black);
    transition: transform 0.2s ease-in-out;


    opacity: 0;
    transform: translateY(-100px);
    animation: slideDown 2s ease-out forwards;
}

.Header-logo:hover {
    transform: scale(1.1);
   
}

/* li de enlaces del menú de navegación (hidden en mobile) y se abre al hacer click en menuBtn */
.Header-menuNav {

    background-color: var(--basic-black);
    opacity: 95%;
    position: relative;

    color: var(--light-lemon);
    display: none;
    font-family: var(--font-serif);
    gap: 50px;


    opacity: 0;
    transform: translateX(500px);
    animation: slideDown 1.5s ease-out forwards;
    
    
}

.Header-menuNav li {
    font-size: 3rem;
    transition: transform 0.2s ease-in-out;
   
    
}

.Header-menuNav li:hover {
    transform: scale(1.1);
   
   
}

.Header-menuNav.Active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 5rem;
    left: 0%;

    top: 0%;
    width: 100%;
    height: 100vh;

}

.material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    cursor: pointer;

    z-index: 3;

    transition: transform 0.3s ease-in-out;

   
}

.material-symbols-outlined:hover {
    transform: scale(1.1);
    color: var(--light-lemon);
    
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: sticky;
    top: 0;
    height: 100vh;
    transition: opacity 0.5s ease;
    z-index: 1;

}

.Section--hero {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 100vh;

    transition: opacity 0.5s ease;
    z-index: 1;

}

.Section-comun{

    background-color: cadetblue;

    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}


.Section-title {
    font-family: var(--font-serif-ita);
    font-style: italic;
    
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    min-width: fit-content;
    opacity: 0;
    transform: translateY(-500px);
    animation: slideDown 2s ease-out forwards;
   

}

.Section-title--bigger {

    color: var(--light-lemon);
    display: flex;
    font-style: normal;
    flex-direction: column;
    justify-content: center;

 
    text-align: center;
    margin: 3rem;

    font-family: var(--font-serif);
    font-size: 3.5rem;
    font-weight: 100;

}

.Section-title--smaller {

    color: var(--basic-black);
    display: flex;
    font-style: normal;
    flex-direction: column;
    justify-content: center;

 
    text-align: center;
    margin: 3rem;

    font-family: var(--font-serif);
    font-size: 3.5rem;
    font-weight: 100;

}

.Section-subtitle {
    color: var(--basic-black);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 200;
    font-size: 1.2rem;
    width: 80%;
    font-family: var(--font-sans);


    opacity: 0;
    transform: translatex(-500px);
    animation: slideDown 2s ease-out forwards;
 
}

.Section:nth-child(1) {
  
    background-image: url(../sources/images/bg-2.webp);
   
    background-size: cover;
    box-shadow: var(--box-shadow);

    opacity: 0;
    transform: translatex(-500px);
    animation: slideDown 2s ease-out forwards;
 

}

.Section:nth-child(2) {

    background-image: url(../sources/images/bg-1.webp);

    background-size: cover;

    box-shadow: var(--box-shadow);
}


.Section:nth-child(3) {
    background-image: url(../sources/images/bg-3.webp);
    background-size: cover;
    box-shadow: var(--box-shadow);
}

.Wrapper {
    height: 400vh;
    
   
}





footer {
    background-color: #1e1e1e;
    color: var(--light-lemon);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--font-sans);

    z-index: 1;
}



@media (min-width: 768px) {

    .p{
        width: 90%;
    }


    .Header {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .Header-menuBtn {
        display: none;
    }

    .Header-menuNav {
        height: fit-content;
        display: flex;
        background-color: rgba(255, 255, 255, 0);
        color: var(--basic-black);
        max-width: fit-content;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }

    .Header-menuNav li {
        font-size: 1.5rem;
    }

    .Section--hero{
      
    
        display: flex;
        justify-content: center;
        align-items:center;
        text-align: center;


    }

    .Section-title {
        font-size:5rem;
        width: 800px;
        text-align: center;
  
        color: var(--basic-black );
    }

    .Section-info {
        font-size:1rem;
        width: 500px;
        text-align: center;
  
        color: var(--basic-black );
    }



    .Section-title--bigger {
        font-size:8rem;
        text-align: center;
  
        color: var(--light-lemon);
    }

    .Section-subtitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-family: var(--font-sans);
        font-weight: 100;
        color: var(--basic-black);
        margin-top: 50px;


    }

  


}


