/*Fuentes*/

@font-face {
    font-family: 'GrandSlang';
    src: url('../fonts/GrandSlang-Roman.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'GrandSlangIta';
    src: url('../fonts/GrandSlang-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;

    /* Fonts made by <a href="http://www.webfontfree.com" target="_blank">Web Free Fonts</a> is licensed by <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC 4.0 BY</a> */
}

@font-face {
    font-family: 'Ogg';
    src: url('../fonts/Ogg-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* animaciones */

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Variables CSS*/
:root {

    --light-lemon: #fef9e6;

    --sweet-pink: #cecbf4;
    --basic-black: #1e1e1e;

    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'GrandSlang', sans-serif;
    --font-serif-ita: 'GrandSlangIta', 'GrandSlang', sans-serif;

    --box-shadow: 3px 3px 1px #6464641c;

}


/* MOBILE FIRST */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: none;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    cursor: default;
}



p {
    font-family: var(--font-sans);
    font-size: 1rem;
    padding-top: 1rem;

}


.Section-info p {

    font-weight: 300;
    font-size: 1rem;
  


}







p .Highlight {
    font-family: var(--font-serif);
    font-style: italic;
    font-size: 20px;
    padding-left: 10px;
}


.Btn {

    display: inline-block;
    color: none;
    border: 1px solid var(--basic-black);
    border-radius: 50px;
    padding: 16px 32px;
    margin: 32px;

    font-family: var(--font-sans);
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #ffdaf900;
    cursor: pointer;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;


}

.Btn:hover {

    box-shadow: inset 400px 0 0 0 var(--light-lemon);
    color: #000000;
}

.Header {

    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    padding: 2rem 1rem 2rem 1.4rem;
    position: fixed;

    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 10%;



}

.Header.scrolled {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    /* desenfoque */
    -webkit-backdrop-filter: blur(10px);
    /* soporte para Safari */
    box-shadow: var(--box-shadow);

}

.Header-logo {

    display: flex;
    flex-direction: row;
    font-family: var(--font-serif);
    letter-spacing: -1px;
    font-size: 1.8rem;
    color: var(--basic-black);
    transition: transform 0.2s ease-in-out;


    opacity: 0;
    transform: translateX(-100px);
    animation: slideDown 2s ease-out forwards;
}

.Header-logo:hover {
    transform: scale(1.1);

}

/* li de enlaces del menú de navegación (hidden en mobile) y se abre al hacer click en menuBtn */
.Header-menuNav {

background-color: var(--basic-black);
    position: relative;

    color: var(--light-lemon);
    display: none;
    font-family: var(--font-serif);
    gap: 50px;

    opacity: 10%;
    transform: translateX(500px);
    animation: slideDown 1.3s ease-out forwards;

 
   


}

.Header-menuNav li {
    font-size: 3rem;
    transition: transform 0.2s ease-in-out;


}

.Header-menuNav li:hover {
    transform: scale(1.1);


}

.Header-menuNav.Active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 5rem;
    left: 0%;

    top: 0%;
    min-width: 100%;
    height: 100vh;
 

}

.material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    cursor: pointer;

    z-index: 3;

    transition: transform 0.3s ease-in-out;


}

.material-symbols-outlined:hover {
    transform: scale(1.1);
    color: var(--light-lemon);

}

main {

    flex: 1;
    display: flex;
    flex-direction: column;


}

.Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: sticky;
    top: 0;
    height: 100vh;
    transition: opacity 0.5s ease;
    z-index: 1;

    box-shadow: var(--box-shadow);


}



.Section-comun {


    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}


.Section-title {

    font-family: var(--font-serif-ita);
    font-style: italic;

    padding: 0.5rem;
    font-size: 4rem;
    font-weight: 300;
    max-width: fit-content;
    opacity: 0;
    transform: translateY(-10px) translateX(-10px);
    animation: slideDown 2s ease-out forwards;


}

/* title hero home */
.Section-title--bigger {

    color: var(--basic-black) ;
    display: flex;
    font-style: normal;
    flex-direction: column;
    justify-content: center;


    text-align: center;
   

    font-family: var(--font-serif);
    font-size: 5rem;
    font-weight: 100;

}

.Section-title--wrap {



    color: var(--basic-black);
    display: flex;
    font-style: normal;
    flex-direction: column;
    justify-content: center;

    width: 90%;


    text-align: center;

    margin-bottom: 1rem;

    font-family: var(--font-serif);
    font-size: 3rem;
    font-weight: 100;

}


.Section-subtitle {
    color: var(--basic-black);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    width: 80%;
    font-family: var(--font-sans);

    opacity: 0;
    transform: translateY(500px);
    animation: slideDown 2s ease-out forwards;

}

/* Para párrafos de información */

.Section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
    max-width: 90%;
    color: var(--basic-black);
}


.Wrapper {
    display: flex;
    flex-direction: column;
    height: 400vh;
}




.Section:nth-child(1) {

    background-attachment: fixed;
    background-size: cover;
  
    background: linear-gradient(10deg, rgba(238, 243, 181, 0.605), rgba(197, 153, 255, 0.403));

}

.Section:nth-child(2) {

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(30px);
    background-attachment: fixed;
    background-size: cover;
    background: linear-gradient(170deg, rgba(238, 243, 181, 0.605), rgba(197, 153, 255, 0.403)); 

   
    

}


.Section:nth-child(3) {

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(30px);
    background-attachment: fixed;
    background-size: cover;
    background: linear-gradient(50deg, rgba(238, 243, 181, 0.605), rgba(197, 153, 255, 0.403)); 


}

.Redes-container {

    padding-top: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    gap: 10px;
}




footer {
    background-color: #1e1e1e;
    color: var(--light-lemon);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--font-sans);

    z-index: 1;
}

.u-white {
    color: #ffffffee;
}


/* Media Queries tablet */
@media (min-width: 768px) and (max-width:1140px) {


    .Section--hero {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;


    }

    .Section-title {

        padding: 0px;

        max-width: 800px;
        text-align: center;
        color: var(--basic-black);


    }

    .Section-info {

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;


        color: var(--basic-black);
    }


    /* titulo de la sección 1 principal tablet */
    .Section-title--bigger {
        font-size: 10rem;
        text-align: center;
        max-width: 800px;

    }

    .Section-subtitle {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-family: var(--font-sans);
        font-weight: 100;
        color: var(--basic-black);
      


    }

    .Section-title--wrap {
        text-align: center;
        width: 90%;
        font-size: 5rem;
    }

}


/* ------------------------------------- */

/* Media Queries Desktop */
@media (min-width: 1140px) {

    /* titulo de la sección 1 principal Desktop */
    .Section-title--bigger {
        font-size: 16rem;
        text-align: center;
    }

    .Section-subtitle {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-family: var(--font-sans);
        font-weight: 100;
        color: var(--basic-black);
       
    }

    .Section-title--wrap {
        width: 1140px;
        font-size: 6rem;
    }


.Section-info p{
    
    font-size: 1.4rem;
  
}

    .Header-menuBtn {
        display: none;
    }

    .Header-menuNav {
        height: fit-content;
        display: flex;
        background-color: rgba(255, 255, 255, 0);
        color: var(--basic-black);
        max-width: fit-content;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }

    .Header-menuNav li {
        font-size: 1.5rem;
    }

    .Btn.u-white{
        border:  solid 1px white;
    }

    .Section-subtitle.u-white {
        color: #fef9e6c2;
      
    }



}