.Section-subtitle{
    align-self: center ;
}
.Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
   
  
    margin-bottom: 100px;
    text-align: justify;

    background-color: var(--light-lemon);
    padding: 50px;


}

.u-bold{
    font-weight: 500;
}